:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  margin-top: 8rem;
  min-height: 100%;
  justify-content: center;
  display: flex;
}

.boardContainer {
  display: flex;
  justify-content: center;
}

.board {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
  /* height: 24px; */
  height: 0;
}

.cell {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 1.5px outset #ececec;
  background-color: #c9c9c9;
  vertical-align: middle;
  text-align: center;
  line-height: 0;
  /* line-height: 19px; */
  font-weight: bold;
}

.missed-bomb {
  background-color: rgb(255, 193, 182);
}

.flagged-bomb {
  background-color: rgb(244, 255, 246);
}

.unrevealed {
  background-color: #c9c9c9;
}

.revealed {
  background-color: #ebebeb;
  border-style: inset;
}

.flagged {
  /* background-color: darkslategray; */
}

.incorrectly-flagged {
  background-color: rgb(65, 104, 67);
}

.cell-item {
  /* font-size: 20px; */
  font-weight: 800;
}

.cell-item-flag {
  vertical-align: middle;
  justify-content: center;
  /* margin-top: 10px; */
  font-size: 11px;
  /* height: 100%; */
}

img {
  padding: 0;
  margin: 0;
  margin-top: -10px;
}